.uploadInput{
    display: none; /*Hide the default input */
}

.uploadButton{
    display: flex; /* using flex box to center the text */
    justify-content: center; /* center text horizontally */
    align-items: center; /*center text vertically */
    width: 25px;
    height: 25px;
    border-radius: 50%; /* makes button circular */
    color: black;       /* Color of text */
    border: none;
    cursor: pointer;
    font-size: 10px;
    padding: 0.4em;
}

.uploadButton:hover{
background-color:rgb(230, 230, 230);
}